/* FONTS */
/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-holder {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.circle-box {
  left: 800px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.links {
  position: absolute;
  top: 100px;
  right: 50px;
}

.zoomT {
  font-size: 50px;
  color: #000;
}

.body {
  background-color: #FE9872;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  background-color: #fff !important;
  border-radius: 8px;
  z-index: 10;
}

#textarea {
  width: 350px;
  height: 200px;
  background-color: #eb5353;
  color: white;
}

.active {
  color: black;
}

.rangeDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#rangeValue {
  position: relative;
  top: -10px;
  display: block;
  text-align: center;
  font-size: 60px;
  color: #999;
  font-weight: 400;
}

.range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 5px black;
          box-shadow: inset 0 0 5px black;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  -webkit-box-shadow: -407px 0 0 400px #00fd0a;
          box-shadow: -407px 0 0 400px #00fd0a;
}

.title {
  font-size: 50px;
  color: #fff;
  padding-top: 30px;
  padding-left: 50px;
}

.bodya {
  background-color: #FE514B;
}

.nameT {
  font-size: 50px;
  color: #fff;
  padding-left: 100px;
  padding-top: 50px;
}

#area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  font-size: 30px;
  border-radius: 8px;
}
/*# sourceMappingURL=main.css.map */