.bodya {
  background-color: #FE514B;
}

.nameT {
  font-size: 50px;
  color: #fff;
  padding-left: 100px;
  padding-top: 50px;
}
// #73BAFF
#area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  font-size: 30px;
  border-radius: 8px;
}
